<section class="main-section">
    <div class="container-fluid my-5 container-spacing justify-content-center">
      <div class="row align-items-center">
        <div class="col-xl-6 position-relative mb-5">
          <div class="main-text">
            <h1>Digital Dev <br />Solutions</h1>
          </div>
        </div>
        <div
          class="col-xl-6 d-flex justify-content-center align-items-center"
          style="height: 100%"
        >
          <div class="isovideo-container">
            <video
              #videoElement
              autoplay
              loop
              playsinline
              class="img-fluid isometric-size"
            >
              <source ngOptimizedImage src="public\\images\\isometricbg.webm" type="video/webm" />
              Ennek a videónak a betöltését letiltotta az ön böngészője.
            </video>
          </div>
        </div>
      </div>
    </div>
  </section>